body
{
  background-color:#FFEFD5;
}
img
{
  margin:auto;
  height:200px;
  width:200px;
  border-width:4px 4px 4px 4px;
  border-color:black;
  

}
h1
{
   font-family:Georgia,"Times New Romen";
   text-align:center;
}
h2
{	
  font-family:Georgia,"Times New Romen";
  text-align:center;

}
